<ion-app>
  <!-- Navbar -->
  <ion-header>
    <ion-toolbar class="toolbar">
      <ion-title class="title">{{ pageTitle }}</ion-title>

      <ion-buttons slot="start">
        <!-- Role-based navigation buttons -->
        <ng-container *ngFor="let page of pages">
          <ion-button *ngIf="isLoggedIn && page.roles?.includes(role)" [routerLink]="page.path ?? '/'"
            routerLinkActive="ion-activated" fill="clear">
            {{ page.label }}
          </ion-button>
        </ng-container>

        <!-- Login button for guests -->
        <ion-button *ngIf="!isLoggedIn" routerLink="/login" fill="clear">Login</ion-button>
      </ion-buttons>

      <ion-buttons slot="end">
        <ion-button *ngIf="isLoggedIn" fill="clear" (click)="logout()" class="logout-button">
          <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <!-- Main content -->
  <ion-content class="dashboard-content">
    <ion-router-outlet></ion-router-outlet>
  </ion-content>
</ion-app>